* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.heading {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  margin-bottom: 25px;
  /* flex-directio; */
}
.col-2 ul {
  display: flex;
  justify-content: flex-end;
  
}
.col-2 ul a {
  padding: 15px;
  text-decoration: none;
  color: black;

}
li{
    list-style: none;
}
section{
    display: flex;
    margin: 35px;

}
h1{
    position: relative;
    left: 35px;
}
